.form-check {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-check-input {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.form-check-label {
  font-size: 15px;
  cursor: pointer;
}