@import '../../../../shared/components/styles/dashboard-shared.css';

.results-count-center {
  font-size: 0.9rem;
  color: #64748b; /* gris azulado elegante */
  font-weight: 500;
  letter-spacing: 0.2px;
}